<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:>
  <head>
    <meta charset="UTF-8" />
    <title>Vertical Navbar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .navbar-vertical {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        padding-left: 20px;
      }
      .navbar-vertical .nav-link {
        color: #ffffff;
        padding: 20px;
      }
      .navbar-vertical .nav-link:hover {
        background-color: #a2cfeb;
        border-radius: 5px;
      }
      .content {
        margin-left: 250px;
        padding: 20px;
      }
    </style>
  </head>
  <body style="background-color: rgb(240, 240, 240)">
    <div class="d-flex flex-row fs-5">
      <div
        class="navbar-vertical justify-content-center"
        style="background: linear-gradient(135deg, #048dd1, #c9f4fe)"
      >
        <img
         th:src="@{/logo.jpg}"
          width="100"
          height="100"
          class="d-inline-block align-top"
          alt=""
          style="margin: 0 auto; display: block"
        />
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" style="justify-content: center">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/sach/admin_sach}">Sách</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" th:href="@{/sach/sach-all}"
                  >Trang sách</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="flex-fill p-3"></div>
    </div>
    <div class="content">
      <div
        class="container rounded-3 pb-3 mb-4"
        style="background-color: rgb(255, 255, 255)"
      >
        <h1 class="text-center pt-3">Sách</h1>
        <form th:action="@{/sach/sach-admin/tim-kiem}" class="justify-content-center d-flex ps-5 pe-5 mb-4 pt-4" role="search" >
          <input name="timKiem" class="form-control me-2 w-75"  type="search"  placeholder="Tìm kiếm sách" aria-label="Search" />
          <button class="btn btn-outline-secondary" type="submit">
            <i class="fas fa-search">Tìm</i>
          </button>
        </form>
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Mã sách</th>
              <th>isbn</th>
              <th>Giá bán</th>
              <th>Giá niêm yết</th>
              <th>Mô tả</th>
              <th>Số lượng</th>
              <th>Tên sách</th>
              <th>Tên tác giả</th>
              <th>Trung bình xếp hạng</th>
               <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sach : ${sachs}">
              <td th:text="${sach.maSach}"></td>
              <td th:text="${sach.ISBN}"></td>
              <td th:text="${sach.giaBan}"></td>
              <td th:text="${sach.giaNiemYet}"></td>
              <td th:text="${sach.moTa}"></td>
              <td th:text="${sach.soLuong}"></td>
              <td th:text="${sach.tenSach}"></td>
              <td th:text="${sach.tenTacGia}"></td>
              <td th:text="${sach.trungBinhXepHang}"></td>
               <td>
                <a class="btn btn-secondary" th:href="@{/sach/sach-admin(maSach=${sach.maSach})}">Chỉnh sửa</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container pb-3 rounded-3" style="background-color: rgb(255, 255, 255)" >

        <h3 class="text-center mb-4 pt-3">Chỉnh sửa sách</h3>
        <form th:action="@{/sach/them-sach}" method="post" class="mb-4 ms-5" enctype="multipart/form-data">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="maSach" class="form-label">Mã sách :</label>
              <input th:value="${sach.maSach != null ? sach.maSach : ''}" type="text" class="form-control" id="maSach" name="maSach" />
            </div>
            <div class="col-md-6">
              <label for="tenSach" class="form-label">Tên sách :</label>
              <input th:value="${sach.tenSach != null ? sach.tenSach : ''}" type="text" class="form-control" id="tenSach" name="tenSach" />
            </div>
          </div><div class="row mb-3">

          <div class="col-md-6">
            <label for="isbn" class="form-label">isbn :</label>
            <input th:value="${sach.ISBN}?: ''" type="text" class="form-control" id="ISBN" name="ISBN" />
          </div>
          <div class="col-md-6">
            <label for="moTa" class="form-label">Mô tả :</label>
            <textarea th:text="${sach.moTa}?: ''" class="form-control" id="moTa" name="moTa" rows="3" ></textarea>
          </div>


        </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="giaBan" class="form-label">Giá bán :</label>
              <input th:value="${sach.giaBan}?: ''" type="text" class="form-control" id="giaBan" name="giaBan" />
            </div>
            <div class="col-md-6">
              <label for="hinhAnhSach" class="form-label"  >Hình ảnh sách</label>
              <input id="hinhAnhSach" name="duLieuAnh" type="file" class="form-control">
            </div>

          </div>
          <div class="row mb-3">
            <!-- Cột bên trái: Form nhập thông tin -->
            <div class="col-md-6">
              <div class="d-flex flex-column gap-3">
                <div>
                  <label for="giaNiemYet" class="form-label">Giá niêm yết :</label>
                  <input th:value="${sach.giaNiemYet}?: ''" type="text" class="form-control" id="giaNiemYet" name="giaNiemYet" />
                </div>
                <div>
                  <label for="soLuong" class="form-label">Số lượng :</label>
                  <input th:value="${sach.soLuong}?: ''" type="number" class="form-control" id="soLuong" name="soLuong"/>
                </div>
                <div>
                  <label for="tenTacGia" class="form-label">Tên tác giả :</label>
                  <input th:value="${sach.tenTacGia}?: ''" type="text" class="form-control" id="tenTacGia" name="tenTacGia"/>
                </div>
              </div>
            </div>

            <!-- Cột bên phải: Ảnh -->
            <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="text-center" th:if="${sach.duLieuAnh}?: ''" name="duLieuAnh">
                <img style="width:150px; height:200px" th:src="${sach.duLieuAnh}" class="rounded img-fluid" alt="Hình ảnh sách"  >
              </div>
            </div>
          </div>




          <div class="row mb-3">
            <div class="col-md-6">
              <label for="trungBinhXepHang" class="form-label" >Trung bình xếp hạng :</label >
              <input th:value="${sach.trungBinhXepHang}?: ''" type="text" class="form-control" id="trungBinhXepHang" name="trungBinhXepHang"/>
            </div>

            <div class="col-md-6 ">
              <label class="form-label">Thể Loại</label>
              <select class="form-select" name="maTheLoai" aria-label="Default select example">
                <option th:each="theLoai : ${theLoais}"
                        th:value="${theLoai.maTheLoai}"
                        th:text="${theLoai.tenTheLoai}"
                        th:selected="${sach != null and sach.maTheLoai != null and sach.maTheLoai == theLoai.maTheLoai}">
                </option>
              </select>
            </div>
          </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary me-3" name="action" value="create">Create</button>
              <button type="submit" class="btn btn-danger me-3" name="action" value="update">Update</button>
              <button type="submit" class="btn btn-warning me-3" name="action" value="delete">Delete</button>
              <button type="submit" class="btn btn-success me-3" name="action" value="reset">Reset</button>
            </div>
        </form>
      </div>
    </div>
  </body>
</html>
